.footer{
    background-color:rgb(12, 119, 114);
    height: 380px;
    color: white;
    
    
}



.footer-low{
    margin-left: 50px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.footer p{
    font-size: 20px;
    
}

.footer img{
    width:200px;
    height: 150px;
    border-radius: 50%;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .footer h2{
      color: tomato;
  }

  /* make it responsive */

@media only screen and (max-width:688px) {
    .footer-low{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media only screen and (min-width:688px) and (max-width:991px) {
    .footer-low{
        grid-template-columns: repeat(1, 1fr);
    }
}